{% extends "base.html" %}

{% block content %}
<div class="form-group" align="center">
    <h2>Works log</h2>
    <div class="tb_data">
        <div class="form-group" align="left">
            <h3>Action #</h3>
        </div>
        <table class="table">
            <thead>
            <tr>
                <td>Title of activity</td>
                <td>Team leader</td>
                <td>Duration</td>
                <td>List of collaborators</td>
                <td>Is finished</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}