.head_color {
    background-color: #14e08b;
    max-height: 27px;
    max-width: 600px;
}
.head {
    display: flex;
    flex-direction: row;
}
color_text {
    color: #fc6d6d;
}
.sws {
    display: flex;
    justify-content: center;
}
h4 {
    padding-left: 20px;
    color: #76287d;
    }
p {
    padding-left: 10px;
    padding-top: 10px;
    color: #4f4747;
}
.container {
    max-width: 550px;
}
img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.carousel-control-prev, .carousel-control-next {
    background: none;
    border: none;
}
.galeryy {
    border: 3px solid black;
    border-radius: 10px;
}

table {
    width: 500px;
}
th {
    font-size: 5 px;
    white-space: nowrap;
}
td {
    font-size: 5 px;
    white-space: nowrap;
}