body {
    background-color: #d553e0;
}
.head {
    display: flex;
    flex-direction: row;
}
color_text {
    color: #fc6d6d;
}
.sws {
    display: flex;
    justify-content: center;
}
h4 {
    padding-left: 20px;
    color: #76287d;
    }
p {
    padding-left: 10px;
    padding-top: 10px;
    color: #4f4747;
}
h1 {
    color: #14e08b;
}
